<div id="pageTitle">
  <h1>Please Wait...</h1>
</div>

<div id="toolbar"></div>

<div style="text-align: center">
  <br/><br/>
  <img src="/public/images/loading_bar.gif"></img>
  <br/><br/>
  Loading initial data. It may take a few minutes... <br/>
</div>